@font-face {
  font-family: 'Graphik';
  font-weight: normal;
  src: url("/fonts/graphik/Graphik-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/graphik/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/graphik/Graphik-Regular.woff") format("woff"), url("/fonts/graphik/Graphik-Regular.ttf") format("truetype"), url("/fonts/graphik/Graphik-Regular.svg#Graphik-Regular") format("svg");
  /* Legacy iOS */
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Graphik';
  font-weight: bold;
  src: url("/fonts/graphik/Graphik-Medium.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/graphik/Graphik-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/graphik/Graphik-Medium.woff") format("woff"), url("/fonts/graphik/Graphik-Medium.ttf") format("truetype"), url("/fonts/graphik/Graphik-Medium.svg#Graphik-Medium") format("svg");
  /* Legacy iOS */
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: normal;
  src: url("/fonts/IBMPlexSans-Regular.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 100;
  src: url("/fonts/IBMPlexSans-Regular.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: Bold;
  src: url("/fonts/IBMPlexSans-Bold.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 600;
  src: url("/fonts/IBMPlexSans-Bold.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: lighter;
  src: url("/fonts/IBMPlexSans-Light.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: medium;
  src: url("/fonts/IBMPlexSans-Medium.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 200;
  src: url("/fonts/IBMPlexSans-Medium.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 500;
  src: url("/fonts/IBMPlexSans-SemiBold.ttf"); }
@font-face {
  font-family: 'Circular-Book';
  src: url("/fonts/Circular/CircularStd-Book.ttf"); }
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url("/fonts/SourceSansPro-SemiBold.ttf"); }
.box {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
  font-size: 14px;
  margin-top: 25px; }
  .box .title-text {
    font-weight: 200;
    font-size: 16px; }
  .box .long-text {
    margin-top: 20px;
    margin-bottom: 30px; }
  .box .font-size-14 {
    font-size: 14px;
    text-transform: uppercase; }
  .box .num-count {
    font-weight: 500;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px; }
  .box .thin-divider {
    width: 100%;
    height: 1px;
    background: gray;
    opacity: 0.4;
    margin-bottom: 13px; }
  .box .stat {
    margin-top: 12px;
    margin-bottom: 12px; }
    .box .stat .count {
      text-align: right;
      padding-right: 16px; }
  .box .btn-show-all {
    color: #007ace;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer; }
  .box button {
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    border: solid 1px #c4cdd5;
    width: 154px;
    height: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 3px; }

.box-45 {
  width: 49%;
  float: left; }

.float-right {
  float: right; }

.blue-text {
  color: #007ace; }

.padding-bottom-60 {
  padding-bottom: 60px; }

.margin-bottom-100 {
  margin-bottom: 100px; }

/*# sourceMappingURL=account-summary-report.css.map */
