@font-face {
    font-family: 'IBMPlexSans';
    font-weight: normal;
    src: url('/fonts/IBMPlexSans-Regular.ttf');
}


@font-face {
    font-family: 'IBMPlexSans';
    font-weight: Bold;
    src: url('/fonts/IBMPlexSans-Bold.ttf');
}

body{
    font-family: 'IBMPlexSans';
}

.product-small-image-group{
}

.product-small-image{
    width: 100%;
    height: 82px;
    background-image: url("/img/cam.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
}

.product-big-image{
    margin-top: 15px;
    height: 620px;
    /* background-image: url("/img/cam.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    object-fit: cover;
}

.product-full-details{
    font-weight: normal;
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 0.8px;
    color: #4a4a4aec;
}

.product-id{
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
}

.product-price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
}

.small-gray-text{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.6px;
    color: #4a4a4ad8;
}

.product-color{
    font-size: 12px;
    margin-top: 20px;
}

.product-text-bold{
    font-weight: bold;
}

.product-availability{
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 13px;
}

.product-details-text{
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 0.6px;
    color: #36434b;
    font-size: 14px;
}

.product-details-desc{
    font-size: 17px;
    width: 80%;
    color: #4d4d4de0;
    margin-top: 3px;
}

.product-code{
    color: #4a4a4a;
    font-size: 14px;
    margin-top: 3px;
}

.product-shipment-text{
    font-size: 14px;
    color: #4a4a4a;
    margin-top: 8px;
}

.btn-add-to-cart{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 36px;
    background-color: #36434b;
    width: 50%;
    color: white;
    text-align: center;
    padding-top: 2px;
    margin-top: 30px;
    cursor: pointer;
}

.btn-save-for-later{
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 13px;
    width: 50%;
    text-align: center;
}

.btn-show-more{
    margin-top: 130px;
}

.divider{
    margin-top: 0px;
    height: 2px;
    border: solid 0.5px #9797977e;
}

.text-frequently-bought-to{
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
}

.small-font-and-margin{
    font-size: 14px;
    margin-top: 10px;
}



