@font-face {
    font-family: 'IBMPlexSans';
    font-weight: normal;
    src: url('/fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: Bold;
    src: url('/fonts/IBMPlexSans-Bold.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: lighter;
    src: url('/fonts/IBMPlexSans-Light.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: medium;
    src: url('/fonts/IBMPlexSans-Medium.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: 500;
    src: url('/fonts/IBMPlexSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Circular-Book';
    src: url('/fonts/Circular/CircularStd-Book.ttf');
}

@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('/fonts/SourceSansPro-SemiBold.ttf');
}


@font-face {
    font-family: 'IBMPlexSans';
    font-weight: normal;
    src: url('/fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: Bold;
    src: url('/fonts/IBMPlexSans-Bold.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: lighter;
    src: url('/fonts/IBMPlexSans-Light.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: medium;
    src: url('/fonts/IBMPlexSans-Medium.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: 500;
    src: url('/fonts/IBMPlexSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Circular-Book';
    src: url('/fonts/Circular/CircularStd-Book.ttf');
}

@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('/fonts/SourceSansPro-SemiBold.ttf');
}


body{
    font-family: 'IBMPlexSans';
    font-weight: lighter;
    background: white;
}

.shipping-payment-bar{
    padding-top: 50px;
    font-size: 17px;
    height: 100px;
    // margin-top: 500px;

    span, div{
        margin-right: 40px;
    }

    .border-box{
        display: inline-block;
        // width: 154px;
        height: 50px;
        border: solid 1px #222222;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: lighter;
    }

    .border-none{
        color: #9b9b9b;
        border: none;
    }

}

.confirm-order-group{
    margin-top: 40px;
    font-size: 25px;
    font-weight: lighter;
}

.big-box{
    width: 300px;
    // min-height: 100px;
    border: solid 1px #b4b4b4;
    display: inline-block;
    margin-right: 35px;
    height: 280px;
    font-weight: lighter;
    margin-bottom: 35px;

    .billing-address{
        font-size: 14px;
        font-weight: medium;
        color: #222222a1;
        padding-top: 13px;

        .text-phone-no{
            margin-top: 36px;
        }
    }

    .button-edit{
        width: 90px;
        height: 35px;
        background-color: #36434b;
        margin-bottom: 16px;
        margin-top: 16px;
        color: white;
        text-align: center;
        padding-top: 6px;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.font-size-15{
    color: rgba(0, 0, 0, 0.76);
    font-size: 15px;
    margin-bottom: 10px;
}

.big-box-group{
    margin-top: 30px;
    
}

.order-items-tag{
    margin-top: 54px;
    font-size: 14px;
    font-weight: lighter;
    color: #808080;
}

.divider-very-thin{
    height: 2px;
    margin-left: 11px;
    margin-top: 19px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.purchased-item-image{
    height: 200px;
    width: 154px;
    background-image: url("/img/cam.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.purchased-items{
    margin-top: 19px;

    .text-padding-top{
        padding-top: 80px;
    }

    .item-name-desc{
        padding-top: 60px;

        .item-name{
            font-size: 14px;
            font-weight: medium;
            text-decoration: underline;
        }
    
        .item-desc{
            font-weight: lighter;
            color: #2222229c;
            font-size: 15px;
        }
    }
    
}

.box-cost-summary{
    margin-top: 100px;
    width: 340px;
    height: 260px;
    background-color: #ffffff;
    border: solid 1px #b4b4b4;

    .text-wrapper{
        margin-top: 27px;
        font-size: 14px;
        color: #383838da;

        .left-text{
            text-align: left;
            padding-left: 0px;
            font-weight: lighter;
        }

        .right-text{
            text-align: right;
            padding-right: 0px;
            font-weight: lighter;
        }
    }

    .box-divider{
        height: 2px;
        border: solid 1px #b4b4b4bd;
        margin-top: 16px;

    }

    .top-margin-11{
        margin-top: 11px;
    }

    .top-margin-13{
        margin-top: 13px;
    }

    .checkbox-text{
        font-weight: lighter;
        padding-left: 10px;
        color: #5a5a5ae7;
    }

    .color-black{
        color: #222222;
    }

    .purchase-button{
        text-align: center;
        height: 45px;
        background-color: #36434b;
        color: white;
        padding-top: 10px;
        font-size: 14px;
        font-weight: 500;
    }

}

.section-checkout-address{
    padding-top: 50px;
    
    .shipping-payment-bar{
        padding-top: 0px;
    }
    
    .right-side{
        height: 391px;
        width: 340px;
        margin-bottom: 70px;
        // background: black;
    }

    .text-account-info{
        font-size: 14px;
        font-weight: medium;
        color: #222222ce;
    }

    .text-boxes-group{
        // width: 100px;
        margin-top: 40px;
        // background: #222222;
        font-weight: lighter;

        .text-field-label{
            margin-bottom: 4px;
            color: #222222b6;
        }

        .text-field{
            height: 36px;
            // width: 300px;
            border: 1px solid rgba(0, 0, 0, 0.212);
            margin-bottom: 26px;
        }

        .longer-text-field{
            width: 97.5%;
        }

    }

    .divider{
        margin-top: 40px;
        margin-bottom: 40px;
        height: 1px;
        border: solid 1px rgba(0, 0, 0, 0.1);
    }

    .country-dropdown {
        margin-right: 20px;
        margin-top: 3px;
        border: 1px solid #ccc;
        width: 100%;
        height: 36px;
        border-radius: 3px;
        overflow: hidden;
        background-color: #fff;
        background: #fff;
        position: relative;
    }
    
    .country-dropdown:after {
        top: 50%;
        left: 89%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-top-color: #000000;
        border-width: 5px;
        margin-top: -2px;
        z-index: 100;
    }
    
    .country-dropdown select {
        font-weight: lighter;
        padding: 6px 6px;
        // width: 130%;
        color: #000000c2;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    .country-dropdown select:focus {
        outline: none;
    }

    .checkbox-section{
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 14px;
        font-weight: lighter;

        input{
            transform: scale(1.4);
        }

        .checkbox-text{
            margin-left: 16px;
        }
    }

    .buttons-section{
        margin-top: 93px;
        margin-bottom: 93px;

        button{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            height: 45px;
            width: 270px;
            background: transparent;
            border: solid 1px #36434b;
        }

        .black-background{
            color: white;
            background-color: #36434b;
        }
    }

    .order-summary-box{
        border: solid 1px #b4b4b4;
        height: 450px;
        padding-top: 20px;

        .divider{
            height: 2px;
            margin-top: 15px;
            margin-bottom: 0px;
            border: solid 1px #b4b4b49a;
        }

        .text-order-summary{
            padding-left: 15px;
            font-size: 17px;
            font-weight: lighter;

            span{
                font-size: 13px;
            }
        }

        .cost-breakdown-section{
            padding-top: 13px;
            
            .left-text, .right-text{
                color: #222222;
                font-weight: lighter;
                font-size: 11px;
                margin-top: 5px;
            }

            .right-text{
                text-align: right;
                padding-right: 0px;
                margin-left: 25px;
            }

            .font-size-15{
                font-size: 15px;
            }


        }

        .ordered-item{
            padding-left: 15px;
            margin-top: 40px;
            margin-bottom: 170px;

            .ordered-item-img{
                height: 100px;
                width: 60px;
                background: grey;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .item-name{
                font-weight: lighter;
                font-size: 14px;
                color: #222222;
            }

            .item-desc{
                font-weight: lighter;
                font-size: 12px;
                color: #999999;
                margin-top: 7px;
            }

            .button-edit{
                font-size: 12px;
                font-weight: lighter;
                background: transparent;
                border: none;
                padding-left: 0px;
                text-decoration: underline;
                margin-top: 3px;
                color: #999999;
            }
        }
    }
}

.section-shipping-and-payment{

    .credit-card-box{
        border: solid 1px #b4b4b4;
        height: 36px;
        margin-top: 7px;
        margin-left: 25px;

        input{
            height: 100%;
            border: none;
        }

        input:focus {
            outline: none;
        }

        .card-no{
            margin-left: 0px;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 13px;
            color: #a5a5a5;
            font-weight: lighter;
        }

    }

    .card-types{
        margin-left: 10px;
        margin-top: 10px;
        
        .card-img{
            margin-right: 11px;
            display: inline-block;
            height: 23px;
            width: 38px;
            background-image: url("/img/cam.jpg");
            background: grey;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    } 

    .checkbox-section{
        margin-left: 10px;
        margin-top: 10px;
        
        .checkbox-text{
            color: #4d4d4db7;
            font-weight: lighter;
            font-size: 14px;
            margin-left: 9px;
        }

        input{
            transform:scale(1.2);
        }
    }

    .text-boxes-group{
        // height: 170px;
        // background: #000000;

        .text-field{
            margin-top: 7px;
        }
    }

    .no-margin{
        margin-top: 0px;
    }

    .no-bottom-margin{
        margin-bottom: 0px;
    }

    .radio-button{
        font-size: 14px;
        font-weight: lighter;
        margin-top: 32px;
        color: #222222c9;
    }

    .buttons-section{
        margin-top: 200px;
    }

    .margin-bottom-60{
        margin-bottom: 60px;
    }


}


@media screen and (max-width: 800px){
    .shipping-payment-bar{
        font-size: 17px; //17
    
        span, div{
            margin-right: 35px; //40
        }
    
    }
}

@media screen and (max-width: 767px){
    .section-checkout-address{
        .shipping-payment-bar{
            span, div{
                margin-right: 4px;
            }
        }
        .country-dropdown {
            margin-bottom: 26px;
        }

        .right-side{
            width: 100%;
        }

        .buttons-section{
            margin-top: 93px;
            margin-bottom: 93px;
    
            button{
                font-size: 12px;
                width: 100%;
            }
    
        }

        .text-boxes-group{
            .text-field{
               border: 1px solid rgba(0, 0, 0, 0.212);
            }
        }
    }

}

@media screen and (max-width: 720px){
    .shipping-payment-bar{
        font-size: 15px; //17
    
        span, div{
            margin-right: 32px; //40
        }
    
    }
 
}

@media screen and (max-width: 680px){
    .shipping-payment-bar{
        font-size: 15px; //17
    
        span, div{
            margin-right: 5px; //40
        }
    
    }
}


@media screen and (max-width: 480px){
    .shipping-payment-bar{
        font-size: 12px; //17
    
        span, div{
            margin-right: 1px; //40
        }
    
    }

    .purchased-item-image{
        height: 200px;
        width: 103px;
        background-image: url("/img/cam.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    

    // .purchased-items{
    //     margin-top: 19px;
    
    //     .text-padding-top{
    //         padding-top: 30px;
    //     }
    
    //     .item-name-desc{
    //         padding-top: 30px;
    //         // text-align: left;
    //         // padding-left: 0px;
    //         // background: #222222;
    
    //         .item-name{
    //             font-size: 14px;
    //             font-weight: medium;
    //             text-decoration: underline;
    //         }
        
    //         .item-desc{
    //             font-weight: lighter;
    //             color: #2222229c;
    //             font-size: 15px;
    //         }
    //     }
        
    // }
}

@media screen and (max-width: 375px){
    .shipping-payment-bar{
        font-size: 12px; //17
    
        span, div{
            margin-right: -7px; //40
        }
    
    }
}