@import "core/fonts";

body{
    font-family: 'IBMPlexSans';
    background: rgba(128, 128, 128, 0.2);
}

.dropdown-more-actions{
    background: none;
    outline: none;
    width: 120px;
    height: 300px;
}
