<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
  <div class="col-sm-4 footer-column">
    <div class="col-sm-12 text-bold">COMPANY</div>
    <div class="col-sm-12 link text-light" onclick="goToSection('about')">About</div>
    <div class="col-sm-12 link text-light" onclick="goToSection('faqs')">FAQ</div>
    <div class="col-sm-12 link text-light" onclick="goToSection('blog')">Blog</div>
  </div>
  <div class="col-sm-4 footer-column">
    <div class="col-sm-12 text-bold">Business</div>
    <div class="col-sm-12 link text-light" onclick="goToSection('calculator')">Calculator</div>
    <div class="col-sm-12 link text-light" onclick="goToSection('products')">Products</div>
    <div class="col-sm-12 link text-light" onclick="goToSection('solution-providers')">Partnership</div>
  </div>
  <div class="col-sm-4 footer-column">
    <div class="col-sm-12 text-bold">Contact Us</div>
    <div class="col-sm-12 text-light">20, Marina, Lagos State</div>
    <div class="col-sm-12 text-light">0700-IMPERIUM</div>
    <div class="col-sm-12 link text-light"><a href="mailto:Imperiumng@sterlinbankng.com" target="_top">Imperiumng@sterlinbankng.com</a></div>
    <div class="col-sm-12 social-links">
      <a href=""><i class="fa fa-linkedin"></i></a> 
      <a href=""><i class="fa fa-twitter"></i></a> 
      <a href=""><i class="fa fa-facebook"></i></a> 
      <a href=""><i class="fa fa-instagram"></i></a> 
    </div>
  </div>
  <div class="col-sm-12 text-copyright">© Copyright 2018 | Privacy Policy</div>
</div>